@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/* CSS Document */

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: 'Poiret One', cursive;
	background:rgba(0,0,0,1.00);
	color:#FFFFFF;
	letter-spacing: 3px;
}

.Screen {
	background-image:url(../IGM/tatoo-194075fdfd.jpeg);
	background-repeat: no-repeat;
	background-position:  50% 20%;
	background-size:cover;
	max-width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;


}
.Flexbox{
display:flex;
justify-content:space-between;
align-items:center;
width: 100%;
position: relative;
z-index: 2;
}
.box-1 {
	margin-left: 15px;
	margin-top: 8px;
	flex: 1 1 2em;
	text-align: left;
	font-size: 40px;
	padding: 0px;
}
.box-2{
	margin-right: 1%;

}
.box-3 {
	
	margin-right:  1%;
	min-width: 110px;
}
.box-4 {
	margin-right: 1%;
	min-width: 60px;
	white-space:nowrap;
}
.box-5{
	margin-right: 50px;
}
.menu {
	width:  100%;
}
.menu ul {
	font-size: 17px;
	display: flex;
	justify-content:space-around;
	list-style:none;
	list-style-type: none;
	flex-wrap: nowrap;
	background: hsla(0,0%,0%,0.4);
	z-index: 99;
	padding: 0px;
	margin: 0px;
}
.one{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
width: 100%;
position: absolute;
top:0px;
	
}
.tattoo {
	width: 200px;
	height: 190px;
}
.Lucifer{
	text-align: center;
}
.Lucifer-2{
	font-weight: 500;
	font-family: 'Nanum Myeongjo', serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 90px;
	text-align: center;
}
.Lucifer-3 {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10vh;
	margin-bottom:  200px;
}
.wellcome{
	height: 250px;
	padding-top: 120px;
	position: relative;
	width: 100%;
}
.wellcome:before{
	position: absolute;
	content: '';
	width: 60%;
	height: 70%;
	top:-50px;
	left: 0px;
	transform: skewY(10deg);
	background:rgba(0,0,0,1.00);
}
.wellcome:after{
	position: absolute;
	content: '';
	width: 60%;
	height: 80%;
	top:-50px;
	right: 0px;
	transform: skewY(-10deg);
	background:rgba(0,0,0,1.00);
}
.wellcome2{
	font-size: 21px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.open {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 700px;
}
.open2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	font-size: 21px;
	width: 50%;
	text-align: center;
}

.open3 {
	background-image: url(../IGM/pexels-photo-573294.jpeg);
	background-position: center;
	background-size: cover;
	width: 50%;
	height:700px;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 700px;
	flex-wrap: wrap;
	color: white;
}
.three {
	background-image: url(../IGM/pexels-photo-194074.jpg);
	width: 50%;
	background-position: top;
	background-size: cover;
	height: 700px;
}
.four{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	font-size: 33px;
	width: 50%;
	text-align: center;
}
.servis {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 700px;
	transition: 1s;
}
.servis1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	flex-basis: 50%;
	font-size: 33px;
	width: 50%;
	text-align: center;
	transition: 1s;
}
.servis2 {
	flex-basis: 50%;
	width: 50%;
	height: 700px;
	background: url(../IGM/pexels-photo-251287.jpg);
	background-position: center;
	background-size: cover;
	transition: 1s;
}
.qwe:hover {
	flex-basis: 90%;
}
.portfolio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 700px;
}
.portfolio1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	font-size: 33px;
	width: 50%;
	text-align: center;
}
.portfolio2 {
	width: 50%;
	height: 700px;
	background: url(../IGM/pexels-photo-842550.jpeg);
	background-position: center;
	background-size: cover;
}
.follow {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 700px;
}
.follow1 {
	background-image: url(../IGM/pexels-photo-53760.jpeg);
	background-position: center;
	background-size: cover;
	width: 50%;
	height: 100%;
}
.follow2 {
	font-weight: 500;
	font-size: 19px;
	text-align: left;
	width: 50%;
	height: 100%;
}
.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
}
.contact1{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.phone1{
	margin-bottom: -30px;
}
.social{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}
.social1 a{
	margin-left: 20px;
}
.bottom {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background-color:rgba(0,0,0,1.00);
  font-weight: 300;
  letter-spacing: 2px;
}
.bottom:before,
.bottom:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.bottom:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.bottom:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.bottom:hover:before,
.bottom:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.bottom:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.bottom:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;
}
.bottom:hover {background:rgba(0,0,0,1.00);
	opacity: 0.8;
}
.map {
	width: 100%;
	height: 550px;
}
h1 {
	font-size: 40px;
	margin: 0;
}
li {
	margin: 20px 20px;
 	width: 60px;
 	height: 30px;
	padding: 8px;
	text-align: center;
}
a {
	text-decoration: none;
	color: rgba(239,234,234,1.00);
}
span {
	font-size: 30px;
}
.edc {
	font-size: 33px;

}



@media (max-width: 1050px) {
	body{font-size: 19px;}
	.Screen{height: 100vh;}
	.Flexbox   { width: 100%; font-weight: 500; }
	.one { height: 100vh;}
.main      {display: flex; 	 flex-direction: column; 	height: 1200px;}
.three     {width: 100%;		order: 1;	 height: 600px;}
.four  	   {width: 100%;		order: 2;	 height: 600px;  }
.Lucifer-3 {font-size: 3.5vw; padding-bottom: 6vh;}
	.open  {display: flex;		flex-direction: column-reverse;		height: 1200px;}
	.open2 {width: 100%; height: 600px;}
	.open3 { width: 100%; height: 600px;}
	.servis{display: flex;		flex-direction: column-reverse;		height: 1200px;}
	.servis1{width: 100%; height: 600px;}
	.servis2{width: 100%; height: 600px;}
	.portfolio{display: flex;		flex-direction: column-reverse;		height: 100%;}
	.portfolio1{width: 100%;  height: 600px;}
	.portfolio2{width: 100%; height: 600px;}
	.follow { display: flex; flex-direction: column; width: 100%; height: 100%;}
	.follow1 {  width: 100%; height: 600px;}
	.follow2{  width: 100%; height: 650px;}
	.qwe:hover {flex-basis: 50%;}
	
}
